@font-face{
	font-family:'Nunito Sans', sans-serif;./media/font/Gotham-Book.otf);
}
*{
	padding:0;
	margin:0;
}
body{
	width:80vw;
	/*box-sizing:border-box;*/
	padding:0.5vw 0 5vw 0;
	margin:0 10vw;
}
h1{
	font-weight: normal;
	font-size: 15vw;
	line-height: 0.9em;
	-webkit-transition: -webkit- all .35s; /* Safari */
  	transition: all .35s;
}
h2{
	font-weight: normal;
	font-size: 2vw;
	line-height: 1.1em;
}
h3{	
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-size: 2vw;
	line-height: 3vw;
}
h4{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-size: 1.2vw;
	line-height: 1.5em;
}
h5{	
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-size: 2vw;
}
h6{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-size: 1.25vw;
}
a{
	color:black;
	cursor:pointer;
	text-decoration: none;

}
.active a{
	color:rgba(255, 80, 80, 1);
}
.laptop a:hover{
	color:rgba(255, 80, 80, 1);

}
.nav{
	top:0vw;
	position:fixed;
	border-bottom: 1.5px solid black;
	width:80vw;
	padding: 1.5vw 0 3vw 0;
	background-color: white;
	-webkit-transition: -webkit- transform .5s, height .5s; /* Safari */
  	transition: transform .5s, height .5s;
  	transform-origin:0 0;
  	height: 30vw;
  	z-index: 15;
}
.nav>div{
	display: inline-block;
	vertical-align: top;
}

.courseTitle{
	width:25%;
	margin-right: 47vw;
	-webkit-transition: -webkit- transform .5s; /* Safari */
  	transition: transform .5s;
  	transform-origin:0 0;
}
.k{
	color:rgba(255, 80, 80, 1);
}
.courseLink{
	animation:0.75s linkFadeInTwo;
}
.shrink h1{
	font-size: 2vw;
	line-height: 1.1em;
}
.shrink .courseTitle{
	margin-right: 27vw;	
}
.shrink .courseLink{
	animation:1s linkFadeIn;
}
.shrink .courseLink>div{
	display: inline-block;
	margin-right: 2vw;
}

div.shrink {
	height:0.5vw;
}
.dropDownFrame{
	position: absolute;
	overflow:hidden;
	max-height: 0;
	/*padding:0 0 0.5vw 1vw;*/
	margin-left: 1vw;
}
.dropDownBody{
	-webkit-transition: -webkit- top .5s; /* Safari */
  	transition: top .15s;
	position: absolute;
	top:-200px;
	background-color: white;
	border-left: 2px solid black;
	padding: 0 0.5vw 1vw 0.5vw;
	background-color: rgba(240, 240, 240, 1);

	/*background-color: rgba(230,230,230,1);*/
}
.dropDownBody > div{
	padding-bottom: 0.25vw;
}
.btn_resource:hover .dropDownFrame{
	max-height: none;
}
.btn_resource:hover .dropDownBody{
	top:0;
}
.ctner{
	padding-top: 37.5vw;
}
.ctners{
	margin-bottom: 5vw;
}
.classInfo{}
.scheduleRow{
	width:100%;
	border-top: 1px solid black;
	padding: 1vw 0;
}
.scheduleRow div{
	vertical-align: top;
}
div.scheduleRow:first-of-type{
	padding:0;
}
.scheduleItem{
	display: inline-block;
}
.week{
	width:7%;
	padding-left: 1.2vw;
}
.date{
	width:7%;
}
.date h3, .week h3{
	font-size: 1.2vw;
	padding-top:0.25vw;
}
.doing{
	width:45%;
	/*border-right: 1px solid black;*/
	margin-right: 1vw;
	box-sizing:border-box;
}
.toDO{
	width:35%
}
.toDO ol{
	padding-left: 2vw
}
.thisWeek .week h3{
	line-height: 1em;
	font-size: 3.5vw;
	color: rgba(255, 80, 80, 1);
	margin-left: -0.5vw;

	/*margin-top: 0.5vw;*/
}
.thisWeek .week{
	/*baseline-shift:50px;*/
}

::-moz-selection { 
	background: rgba(0,220,220,1); 
}
::selection { 
	background: rgba(0,220,220,1); 
}

@keyframes linkFadeInTwo {
  	from { opacity: 0; }
  	to   { opacity: 1; }
}
@keyframes linkFadeIn {
	0%{opacity: 0;}
  	50% { opacity: 0; }
  	100%   { opacity: 1; }
}