h1{
	font-size: 2vw;
	line-height: 1.1em;
}
h3{
	line-height: 1.2em;
}

.nav{
	
  	height:0.5vw;
}
a{
	display: inline-block;
	/*height:auto;*/
}
.nav>div{
	display: inline-block;
	vertical-align: top;
}
.navTwo{
	top:5vw;
	position: fixed;
	z-index: 5;
}


.courseTitle{
	margin-right: 27vw;	
	
}


.courseLink>div{
	display: inline-block;
	margin-right: 2vw;
}

.sectionInfo >div{
	/*display: inline-block;*/
	width:49%;
	vertical-align: top;
}

.sectionTitle h1{
	font-size:8vw;
}
.sectionIntro{
	margin-top: 1vw;
	/*width:50%;*/
}

.ctner{
	padding-top: 6vw;
	position: relative;
	z-index: 10;
}
.contentCtner{
	margin-top: 1.5vw;
}
.contentItems{
	box-sizing:border-box;
	width:31.25%;
	min-height:15vh;
	display: inline-block;
	border:1px black solid;
	margin:0 2vw 2vw 0;
	padding:0.5vw 1vw 1.5vw 1vw;
	vertical-align: top;
	background-color: white;
	-webkit-transition: -webkit- transform .25s; /* Safari */
  	transition: transform .25s;

}
.contentItems:nth-of-type(3n){
	margin-right:0;
}

.laptop .contentItems:hover{
	cursor: pointer;
	/*background-color: rgba(255, 80, 80, 1);*/
}
.laptop .contentItems:hover a{
	color: rgba(255, 80, 80, 1);
}
.info_content{
	display: inline-block;
	text-align: right;
	width:50%;
}
.info_content:first-of-type{
	text-align: left;
}
.itemTitle{
	margin-top: 1vw;
}
.laptop .contentItems:hover{
	transform: translate(0, -1vw);
}
.linkCato{
	/*width:100%;*/
	display: inline-block;
	margin-bottom: 2vw;
	width:50%;
	box-sizing:border-box;
	/*border-bottom: 1px solid black;*/
}
.linkCatoTitle{
	width:25%;
	/*margin-right: 2vw;*/
	box-sizing:border-box;
	padding-right:1.2vw;
	/*border-bottom: 1px solid black;*/
}
.linkCato>div{
	vertical-align: top;
	display: inline-block;
}
.listItems{
	display: block;
	width:100%;
}
.linkCatoItem{

	margin-bottom: 2vw;
	
}
.projCtner{
	width:100%;
}
tr{
	width:100%;
	padding: 10vw 0;
}
.projDes{
	width:75%;
}
.projDes ul, .projSchedule ol{
	padding-left: 4vw;
	
}
.projDes li{
	margin-top: 2vw;
}
.projSchedule{
	margin-top: 2vw;
	width:75%;
}
li>div{
	display: inline-block;
	vertical-align: top;
}
.projSchedule li{
	margin-top: 2vw;
}
.projSchedule_date{
	width:20%;
}
.projSchedule_progress{
	width:79%;
}
/*.projItems:hover{
	background-color: rgba(0,220,220,1);
	cursor: pointer;
}*/
