h1{
	font-size: 2.25vw;
	line-height: 1.3em;
	margin: 0.75em 0;
}
p{
	font-size: 1.2vw;
	line-height: 1.5em;
}
.flex_container{
	width:75vw;
	margin:2vw auto 0 auto;
	display:flex;
}
.image{
	flex:2;
}
img{
	width:100%;
}
.text{
	flex:1;
	padding-left: 1.5vw;
}