.nav{
	width:100vw;
	box-sizing: border-box;
	padding:2vw 12.5vw;
	display:flex;
	border-bottom:1px solid gray;
	position:fixed;
	background-color: white;
	top:0; 
}
.nav>div{
	vertical-align: center;
}
.nav_item1{
	flex:3;
	padding-top: 2.75vw;
}
.nav_item2{
	flex:2;
}
.nav_item3{
	flex:2;
	padding-top: 2.3vw;
}
.nav_link{
	margin-right: 1.5vw;
	font-family: 'Arimo', sans-serif;
	font-size:1vw;
}
.social_icon{
	width:1.5vw;
	margin-right: 1.5vw;
}
.flex_container{
	margin-top: 15vw;
}