*{
	margin:0;
	padding:0;
}
h1{
	font-family: 'Playfair Display', serif;
	font-size: ;
	line-height: ;
}
p{
	font-family: 'Arimo', sans-serif;
	font-size: ;
	line-height: ;
}
.flex-container{
	display: flex;
}
.image{
	flex:2;
}
.text{
	flex:1;
}
img{
	width:100%;
}