*{
	margin:0;
	padding:0;
	font-weight:400;
	font-family:sans-serif;
}

body{
	padding:5vw 15vw;
	font-size:3.6vw;
}
.main_sections{
	margin-bottom: 6vw;
}
a{
	color:red;
	text-decoration: none;
  
}
a:hover{
	font-style: italic;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}
h3{
	font-size:0.3em;
	font-weight: 700;
}
p{
	line-height: 1.25em;
}
.main_sections >h3{
	margin-bottom: 3vw;
}
#about{
	/*width:60%;*/
}
.serialNumber{
	font-size:0.3em;
	padding-top:.5vw;
	/*transform-origin:top center;*/
	/*transform: scale(1,3);*/
	/*font-weight:bold;*/
	color:black;
	width:10vw;
}
.ex_items{
	display:grid;
	grid-template-columns:5vw auto;
}